<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Booking.Common.Storage.Abstractions" version="1.2018.9.41030" targetFramework="net461" />
  <package id="Booking.Windows.Storage" version="1.2018.9.41030" targetFramework="net461" />
  <package id="hidlibrary" version="3.2.46.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net461" />
  <package id="PCSC" version="4.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
</packages>